/* Устанавливаем фон для всего тела страницы */
.pageBackground {
    background-color: rgb(163, 152, 152);
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем отступы по умолчанию */
    min-height: 100vh; /* Устанавливаем минимальную высоту для страницы */
}

/* Белый фон для header */
header {
    background-color: #ffffff;
    position: fixed; /* При необходимости */
    width: 100%; /* Ширина на всю страницу */
    top: 0; /* Прикрепляем к верхней части страницы */
    z-index: 1000; /* Убедитесь, что заголовок находится выше других элементов */
}

/* Основной контейнер для содержимого страницы */
.mainContent {
    padding-top: 60px; /* Высота заголовка + немного отступа */
    background-color: rgb(163, 152, 152); /* Серый фон для основного содержимого */
    min-height: 100vh; /* Убедитесь, что содержимое растягивается на всю высоту */
}
