.logo {
    width: 136px;
    height: 16px;
    padding-left: 64px;
    margin-right: 450px;
}

.header {
    display: flex;
    border-bottom: 1px solid #f2f4f7;
    padding: 24px 64px;
    width: 1440px;

}

.navLink {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #101828;
    margin-right: 32px;
}

.active {
    color: rgb(215, 19, 19);

}

.navLink:hover {
    text-decoration: underline;
}
