.title {
font-weight: 600;
font-size: 20px;
line-height: 1.2;
color: #101828;
margin-bottom: 24px;
}

.line {
stroke-width: 1px;
stroke: #dadde1;
margin-bottom: 24px;
}

.divtextmain {
    display: flex;
    align-items: center;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #101828;
    margin-bottom: 16px;
}

.textdesc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #101828;
    margin-bottom: 16px;
}